<header>
    <nav>
        <ul>
            <li>
                <a routeLink="/">
                    <img src="assets/image/openFoodFactsLogo.svg" alt="Off logo" >
                </a>
            </li>
            <li>
                <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchProducts" placeholder="Chercher un produit">
                <button (click)="searchProducts">Rechercher</button>
                <img id="lupa" src="http://www.w3.org/2000/svg" alt="Search icon">
            </li>
        </ul>
    </nav>
</header>