<header>
    <nav>
      <ul>
        <li class="li_header">
          <a routeLink="/">
            <img src="assets/off-logo-horizontal-light.svg" alt="Off logo">
          </a>
        </li>
        <li class="li_header">
          <div class="research">
            <input type="text" [(ngModel)]="chercheProduit" placeholder="Chercher un produit" (keyup.enter)="chercher()">
            <button (click)="chercher()"></button>
          </div>

        </li>
      </ul>
    </nav>
  </header> 





  










<!-- <div class="product">
  <img class="image1" src="{{product.image_front_url}}" alt="">
  <p>{{product.product_name}} - {{product.brands}} - {{ product.quantity}}</p>
  <div class="nutriscore">
    <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-{{product.nutriscore_grade}}.svg" alt="">
    <img src="https://static.openfoodfacts.org/images/attributes/nova-group-{{product.nova_groups}}.svg" alt="">
  </div>

</div> -->