<header>
    <nav>
        <ul>
            <li class="li_header">
                <a routeLink="/">
                    <img src="assets/image/openFoodFactsLogo.svg" alt="Off logo">
                </a>
            </li>
            <li class="li_header">
                <div class="research">
                    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchProducts"
                        placeholder="Chercher un produit">
                    <button (click)="searchProducts"></button>
                </div>
            </li>
            <!-- <div class="research">
                <input type="text" [(ngModel)]="chercheProduit" placeholder="Chercher un produit" (keyup.enter)="chercher()">
                <button (click)="chercher()"></button>
              </div> -->
        </ul>
    </nav>
</header>