<div class="card-div flex-row-center w75 m-auto">
  <div class="card-div">
    <img *ngIf="produit" [src]="produit.image_url" alt="" />
  </div>
  <div class="card-div bg-color pd-20">
    <h1 *ngIf="produit">Nom du produit : {{ produit.product_name }}</h1>
    <P *ngIf="produit"> Nom générique :{{ produit.GeneriqueName }}</P>
    <P *ngIf="produit">Quantitée : {{ produit.quantity }}</P>
    <P *ngIf="produit">packaging : {{ produit.packaging }}</P>
    <P *ngIf="produit">Marque : {{ produit.brands }}</P>
    <P *ngIf="produit">categories : {{ produit.categories }}</P>
    <P *ngIf="produit">labels : {{ produit.labels }}</P>
  </div>
</div>

<div class="card-div  w75 m-auto">
  <h1 class="pd-20">Correspondant à vos préférences</h1>
  <div class="flex-row-center-space-betwee">
    <div class="card-div bg-color pd-20">
      <a class="flex-row-center" href="">
        <!-- renvoi vers la fiche santé -->
        <img class="mr-20 w-8 h-4"
          src="https://static.openfoodfacts.org/images/attributes/nutriscore-{{
            produit.nutriscore
          }}.svg"
          alt="Image nutriscore"
        />
        <div>
          <h2>Nutri-score {{ produit.nutriscore | uppercase }}</h2>
          <span>test</span>
        </div>
      </a>
    </div>
    <div class="card-div bg-color pd-20">
      <a class="flex-row-center" href="">
        <!-- renvoi vers la fiche santé -->
        <img class="mr-20 w-4 h-4"
          src="https://static.openfoodfacts.org/images/attributes/nova-group-{{
            produit.nova
          }}.svg"
          alt="Image nova"
        />
        <div>
          <h2>Nova {{ produit.nova}}</h2>
          <span>test</span>
        </div>
      </a>
    </div>
    <div class="card-div bg-color pd-20">
      <a class="flex-row-center" href="">
        <!-- renvoi vers la fiche santé -->
        <img class="mr-20 w-8 h-4"
          src="https://static.openfoodfacts.org/images/attributes/ecoscore-{{
            produit.ecoscore
          }}.svg"
          alt="Image nova"
        />
        <div>
          <h2>Eco-Score {{ produit.ecoscore | uppercase }}</h2>
          <span>test</span>
        </div>
      </a>
      
    </div>
  </div>
</div>
