a {
  text-decoration: none;
  color: unset;
}

.flex-row-center {
  display: flex;
  justify-content: space-evenly;
}
.flex-row-center-space-betwee {
  display: flex;
  justify-content: space-evenly;
}
img {
  border-radius: 20px;
}
.card-div {
  background-color: white;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}
.bg-color {
  background-color: white;
}
.pd-20 {
  padding: 20px;
}

.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.m-auto-lr {
  margin: 20px auto;
}

.w-8 {
  width: 8rem;
}
.w-4 {
  width: 4rem;
}
.h-4 {
  height: 4rem;
}
.w75 {
  width: 75%;
}


